<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}
    {# エラー表示用スペースをあらかじめ空けておく #}
    <p>&nbsp;</p>
{% endif %}
<form action="{% url 'chat:register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="id" id="id" value=""><br>
    <input type="password" name="passwd" id="passwd" value=""><br>
    <input type="password" name="passwd_renter" id="passwd_renter" value=""><br>
    <input type="submit" value="register">
</form>
</body>
</html>