<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}
    {# エラー表示用スペースをあらかじめ空けておく #}
    <p>&nbsp;</p>
{% endif %}
<form action="{% url 'chat:register' %}" method="post">
    {% csrf_token %}
    <table>
        <tr><td>UserID</td><td><input type="text" name="id" id="id" value=""></td></tr>
        <tr><td>Password</td><td><input type="password" name="passwd" id="passwd" value=""></td></tr>
        <tr><td>Password(re-enter)</td><td><input type="password" name="passwd_renter" id="passwd_renter" value=""></td></tr>
    </table>
    <input type="submit" value="register">
</form>
<form action="{% url 'chat:login' %}" method="get">
    <input type="submit" value="return login disp">
</form>
</body>
</html>